@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html {
  background-color: #f9f9f9;
  font-weight: normal;
}

body {
  font-size: 14pt;
  line-height: 1.55em;
  background: #f9f9f9;
  max-width: 1000px;
  min-width: 700px;
  margin: auto;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'EB Garamond', serif;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 2rem 0 2rem;
  align-items: baseline;
  font-size: 14pt;
  border-bottom: 0.1px solid black;
  padding-bottom: 0.3rem;
}

.Header-name {
  font-size: 30pt;
  text-decoration: none;
  color: black;
  flex: 5;
}

.Header-name:hover {
  color: grey;
  transition: color 0.25s;
}

.Header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 7;
}

.Header-nav > a {
  text-decoration: none;
  color: black;
}

.Header-nav > a:hover {
  color: grey;
  transition: color 0.25s;
}

.Header-social {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  font-size: 10px;
  justify-content: space-evenly;
  align-items: baseline;
  align-self: baseline;
}

.Content {
  margin: 2rem 2rem 5rem 2rem;
}

.headshot {
  border-radius: 50%;
  width: 250px;
  border: 1px solid black;
  margin-top: 1em;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.publication-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1px;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #3F3CC2;
}

.underline {
  text-decoration: underline;
}

.social-icon {
  width: 19px;
  color: black;
  margin-top: 10px;
  margin-bottom: -3.2px;
}

.bio {
  margin-right: 2rem;
}

.postTitle {
  font-size: 24px;
  color: black;
}

.postTitle:hover {
  font-weight: bolder;
}

.continueLink {
  font-size: 20px;
  color: black;
}

.continueLink:hover {
  font-weight: bolder;
}

ul {
  list-style-type: none;
  padding: 0;
}

.postInfo {
  font-size: 16px;
}

.post {
  margin-bottom: 3em;
}

.drawingBox {
  margin: 2.5em 2.5em 0em 0em;
}

.drawing {
  max-width: 265px;
}

.drawings {
  display: flex;
  flex-wrap: wrap;
}
