{% include relBase.html %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
   </head>

    <body>
      <!-- TODO: templatize header -->
      <div class="Header">
        <a class="Header-name" href="{{ relBase }}index.html">Bora Uyumazturk</a>
        <nav class="Header-nav">
          <a href="{{ relBase }}publications.html">Publications</a>
          <a href="{{ relBase }}side-projects.html">Side Projects</a>
          <a href="{{ relBase }}reading.html">Reading</a>
          <a href="{{ relBase }}drawing.html">Drawings</a>
          <a href="{{ relBase }}index.html">About</a>
        </nav>
        <!-- TODO: add hover effect on icon -->
        <nav class="Header-social">
          <a href="https://twitter.com/notsleepingturk">
            <img class="social-icon" src="/assets/images/twitter.svg">
          </a>
        </nav>
      </div>

      {{ content }}
    </body>
</html>
